.button-style {
  background-color: transparent;
  border-radius: 3px;
  transition: 0.2s ease-out;
  text-decoration: none;
  margin-right: 10px;
}

.button-style:clicked {
  outline: none;
}

.button-style:focus {
  outline: none;
}

.button-style:hover {
  cursor: pointer;
}

.light-background {
  color: rgb(0, 206, 145);
  border: 3px rgb(0, 206, 145) solid;
}

.light-background:hover {
  color: #fff;
  background-color: rgb(0, 206, 145);
  border-color: rgb(41, 140, 120);
}

.dark-background {
  color: #fff;
  border: 3px #fff solid;
}

.dark-background:hover {
  color: rgb(41, 140, 120);
  background-color: #fff;
  border-color: rgb(41, 140, 120);
}
