.footer {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 80px auto 30px auto;
}

.footerFab {
  color: black;
  margin-left: 15px;
  transition: 0.3s ease-out;
}

.footerFab:hover {
  color: rgb(0, 206, 145);
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .footer {
    padding: 15px;
  }
}
