.title {
  font-size: 3rem;
  margin: 45px;
}

.impact-word {
  color: rgb(0, 206, 145);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    height: 80vh;
  }
}
