.container {
  min-width: 700px;
  min-height: 400px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.project-image {
  background: teal;
  border-radius: 10px;
  width: 200px;
}
