.container {
  width: 100%;
  min-height: 300px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-image {
  border-radius: 10px;
  width: 300px;
}

.project-info {
  max-width: 400px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-info {
    margin: 0 auto;
  }
  .buttons {
    margin-bottom: 30px;
  }
}
